## Practical activity: Convert, clean, and analyse data

Focus on the six continents on the table, and perform several calculations for each of them.

## 1. Import the libraries

In [1]:
# Import necessary libraries.
import requests
import pandas as pd
from bs4 import BeautifulSoup

## 2. Establish connection with URL

In [2]:
# Create a URL variable.
url = 'https://www.worldometers.info/coronavirus/'

# Create a requests variable.
r = requests.get(url)

# Make contact with the website.
if r.status_code == 200:
    html_doc = r.text
    
# Create a BeautifulSoup object.
soup = BeautifulSoup(html_doc)

# View the output.
print(soup.prettify())

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   COVID - Coronavirus Statistics - Worldometer
  </title>
  <meta content="Daily and weekly updated statistics tracking the number of COVID-19 cases, recovered, and deaths. Historical data with cumulative charts, graphs, and updates." name="description"/>
  <!-- Favicon -->
  <link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
  <link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/favicon/manifest.json" rel="manifest"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#ffffff" name="theme-color"/>
  <!-- og image -->
  <meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image"/>
  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/wm16.css" rel="stylesheet"/>
  <!-- font awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
  <script src="/js/jquery.min.js">
  </script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js">
  </script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/js/ie10-viewport-bug-workaround.js">
  </script>
  <!-- tables
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,fh-3.1.0,r-2.0.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,fh-3.1.0,r-2.0.0/datatables.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.js"></script>
 -->
  <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript">
  </script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript">
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $(document).ready(function() {
	$('#popbycountry').dataTable();
} );
  </script>
  <!-- FREESTAR -->
  <script data-cfasync="false" type="text/javascript">
   var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
  </script>
 </head>
 <body>
  <!-- Google tag (gtag.js) -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-RWMC0N06EE">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RWMC0N06EE');
  </script>
  <!-- Quantcast Choice. Consent Manager Tag v2.0 (for TCF 2.0) -->
  <!--
<script type="text/javascript" async=true>
(function() {
  var host = 'worldometers.info';
  var element = document.createElement('script');
  var firstScript = document.getElementsByTagName('script')[0];
  var url = 'https://quantcast.mgr.consensu.org'
    .concat('/choice/', 'Pd9JxUkvV0m7q', '/', host, '/choice.js');
  var uspTries = 0;
  var uspTriesLimit = 3;
  element.async = true;
  element.type = 'text/javascript';
  element.src = url;

  firstScript.parentNode.insertBefore(element, firstScript);

  function makeStub() {
    var TCF_LOCATOR_NAME = '__tcfapiLocator';
    var queue = [];
    var win = window;
    var cmpFrame;

    function addFrame() {
      var doc = win.document;
      var otherCMP = !!(win.frames[TCF_LOCATOR_NAME]);

      if (!otherCMP) {
        if (doc.body) {
          var iframe = doc.createElement('iframe');

          iframe.style.cssText = 'display:none';
          iframe.name = TCF_LOCATOR_NAME;
          doc.body.appendChild(iframe);
        } else {
          setTimeout(addFrame, 5);
        }
      }
      return !otherCMP;
    }

    function tcfAPIHandler() {
      var gdprApplies;
      var args = arguments;

      if (!args.length) {
        return queue;
      } else if (args[0] === 'setGdprApplies') {
        if (
          args.length > 3 &&
          args[2] === 2 &&
          typeof args[3] === 'boolean'
        ) {
          gdprApplies = args[3];
          if (typeof args[2] === 'function') {
            args[2]('set', true);
          }
        }
      } else if (args[0] === 'ping') {
        var retr = {
          gdprApplies: gdprApplies,
          cmpLoaded: false,
          cmpStatus: 'stub'
        };

        if (typeof args[2] === 'function') {
          args[2](retr);
        }
      } else {
        queue.push(args);
      }
    }

    function postMessageEventHandler(event) {
      var msgIsString = typeof event.data === 'string';
      var json = {};

      try {
        if (msgIsString) {
          json = JSON.parse(event.data);
        } else {
          json = event.data;
        }
      } catch (ignore) {}

      var payload = json.__tcfapiCall;

      if (payload) {
        window.__tcfapi(
          payload.command,
          payload.version,
          function(retValue, success) {
            var returnMsg = {
              __tcfapiReturn: {
                returnValue: retValue,
                success: success,
                callId: payload.callId
              }
            };
            if (msgIsString) {
              returnMsg = JSON.stringify(returnMsg);
            }
            event.source.postMessage(returnMsg, '*');
          },
          payload.parameter
        );
      }
    }

    while (win) {
      try {
        if (win.frames[TCF_LOCATOR_NAME]) {
          cmpFrame = win;
          break;
        }
      } catch (ignore) {}

      if (win === window.top) {
        break;
      }
      win = win.parent;
    }
    if (!cmpFrame) {
      addFrame();
      win.__tcfapi = tcfAPIHandler;
      win.addEventListener('message', postMessageEventHandler, false);
    }
  };

  makeStub();

  var uspStubFunction = function() {
    var arg = arguments;
    if (typeof window.__uspapi !== uspStubFunction) {
      setTimeout(function() {
        if (typeof window.__uspapi !== 'undefined') {
          window.__uspapi.apply(window.__uspapi, arg);
        }
      }, 500);
    }
  };

  var checkIfUspIsReady = function() {
    uspTries++;
    if (window.__uspapi === uspStubFunction && uspTries < uspTriesLimit) {
      console.warn('USP is not accessible');
    } else {
      clearInterval(uspInterval);
    }
  };

  if (typeof window.__uspapi === 'undefined') {
    window.__uspapi = uspStubFunction;
    var uspInterval = setInterval(checkIfUspIsReady, 6000);
  }
})();
</script>
-->
  <!-- End Quantcast Choice. Consent Manager Tag v2.0 (for TCF 2.0) -->
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- GA wm old (info) -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
  </script>
  <!-- GDPR consent -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js">
  </script>
  <script>
   window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
  </script>
  <style type="text/css">
   .style1 {
        color: #666666
    }
  </style>
  <div class="navbar navbar-default">
   <div class="container">
    <div class="navbar-header">
     <div class="logo">
      <a class="navbar-brand" href="/">
       <img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/>
      </a>
     </div>
     <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
     </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
     <ul class="nav navbar-nav">
      <li>
       <a href="/coronavirus/">
        Coronavirus
       </a>
      </li>
      <li>
       <a href="/population/">
        Population
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <!-- MAIN -->
  <div class="container">
   <!-- TOP AD -->
   <div class="row">
    <div style="text-align:left; margin-bottom:10px">
     <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
     </script>
     <!-- wm_top970 -->
     <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px">
     </ins>
     <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
    </div>
   </div>
   <!-- TOP AD -->
   <!-- MAIN  -->
   <!-- CENTER -->
   <div class="row">
    <div class="col-md-8">
     <!-- *** CONTENT A *** -->
     <div class="content-inner">
      <style>
       .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
      </style>
      <!-- charts -->
      <script src="/js/highcharts.js">
      </script>
      <style type="text/css">
       .source {}

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }

    .source111 {}

    .source1111 {
        font-size: 12px;
        color: #bbb;
    }


    .new_badge {

        position: absolute;
        font-size: 12px;
        top: -5px;
        right: -26px;
        background-color: #8ACA2B;
        color: white;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }

    .new_badge_link {

        background-color: #8ACA2B;
        color: white !important;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }
      </style>
      <div class="label-counter" id="page-top">
       COVID-19 Coronavirus Pandemic
      </div>
      <div style="font-size:13px; color:#999; margin-top:5px; text-align:center">
       Last updated: September 29, 2023, 11:38 GMT
      </div>
      <div style="margin-top:20px; text-align:center; font-size:14px">
       <a class="new_badge_link" href="/coronavirus/weekly-trends/" style="display: inline-block; position:relative;">
        Weekly Trends
       </a>
       -
       <a href="/coronavirus/worldwide-graphs/">
        Graphs
       </a>
       -
       <a href="#countries">
        Countries
       </a>
       -
       <a href="#news">
        News
       </a>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px">
       <h1>
        Coronavirus Cases:
       </h1>
       <div class="maincounter-number">
        <span style="color:#aaa">
         695,939,792
        </span>
       </div>
      </div>
      <div style="text-align:center ">
       <a href="#countries">
        view by country
       </a>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px">
       <h1>
        Deaths:
       </h1>
       <div class="maincounter-number">
        <span>
         6,921,077
        </span>
       </div>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px;">
       <h1>
        Recovered:
       </h1>
       <div class="maincounter-number" style="color:#8ACA2B ">
        <span>
         667,898,269
        </span>
       </div>
      </div>
      <div style="margin-top:50px;">
      </div>
      <!-- START -->
      <style>
       .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }

    .collapse_button {

        position: absolute;
        right: 10px;
        pointer-events: none;
        color: #70757a !important;
        height: 24px;
        width: 24px;
        line-height: 24px;
    }

    .collapse_button svg {
        display: block;
        height: 100%;
        width: 100%;
        fill: currentColor;
    }

    .rotate_180 {

        transform: rotate(180deg);
    }

    .panel_clickable {

        cursor: pointer;
    }
      </style>
      <script>
       var do_not_slide = false;
    $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });


        $('.collapse').on('show.bs.collapse', function(el) {


            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.addClass('rotate_180');

            if (do_not_slide) {

                return;
            }

            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('show');
            } else {

                $('#panel_active').collapse('show');
            }

            do_not_slide = false;
        });

        $('.collapse').on('hide.bs.collapse', function(el) {

            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.removeClass('rotate_180');


            if (do_not_slide) {

                return;
            }


            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('hide');
            } else {

                $('#panel_active').collapse('hide');
            }

            do_not_slide = false;

        });



    });
      </script>
      <div class="col-md-6">
       <div class="panel panel-default">
        <div aria-controls="panel_active" aria-expanded="false" class="panel_clickable panel-heading" data-toggle="collapse" href="#panel_active" style="text-align:center;position:relative;">
         <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
          Active Cases
         </span>

## 3. Extract tabular data

In [3]:
# Extracting the contents of the table with the table id: 
table = soup.find('table', attrs={'id': 'main_table_countries_today'})

# View the output.
table

<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_today" style="width:100%;margin-top: 0px !important;display:none;">
<thead>
<tr>
<th width="1%">#</th>
<th width="100">Country,<br/>Other</th>
<th width="20">Total<br/>Cases</th>
<th width="30">New<br/>Cases</th>
<th width="30">Total<br/>Deaths</th>
<th width="30">New<br/>Deaths</th>
<th width="30">Total<br/>Recovered</th>
<th width="30">New<br/>Recovered</th>
<th width="30">Active<br/>Cases</th>
<th width="30">Serious,<br/>Critical</th>
<th width="30">Tot Cases/<br/>1M pop</th>
<th width="30">Deaths/<br/>1M pop</th>
<th width="30">Total<br/>Tests</th>
<th width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th>
<th width="30">Population</th>
<th style="display:none" width="30">Continent</th>
<th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
<th width="30">New Cases/1M pop</th>
<th width="30">New Deaths/1M pop</th>
<th width="30">Active Cases/1M pop</th>
</tr>
</thead>
<tbody>
<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>128,469,997</td>
<td></td>
<td>1,647,285</td>
<td></td>
<td>124,038,058</td>
<td>+602</td>
<td>2,784,654</td>
<td>6,714</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>220,776,210</td>
<td>+1,687</td>
<td>1,549,808</td>
<td>+10</td>
<td>204,571,994</td>
<td>+83</td>
<td>14,654,408</td>
<td>15,151</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td>250,202,551</td>
<td>+646</td>
<td>2,073,621</td>
<td>+1</td>
<td>246,155,805</td>
<td>+3,474</td>
<td>1,973,125</td>
<td>5,518</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="South America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td>68,997,078</td>
<td></td>
<td>1,361,080</td>
<td></td>
<td>66,523,496</td>
<td></td>
<td>1,112,502</td>
<td>10,081</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Oceania</nobr>
</td>
<td>14,654,802</td>
<td></td>
<td>30,438</td>
<td></td>
<td>14,519,870</td>
<td></td>
<td>104,494</td>
<td>51</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td>12,838,433</td>
<td></td>
<td>258,830</td>
<td></td>
<td>12,088,340</td>
<td></td>
<td>491,263</td>
<td>547</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr></nobr>
</td>
<td>721</td>
<td></td>
<td>15</td>
<td></td>
<td>706</td>
<td></td>
<td>0</td>
<td>0</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world">
<td></td>
<td style="text-align:left;">World</td>
<td>695,939,792</td>
<td>+2,333</td>
<td>6,921,077</td>
<td>+11</td>
<td>667,898,269</td>
<td>+4,159</td>
<td>21,120,446</td>
<td>38,062</td>
<td>89,283</td>
<td>887.9</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">108,706,444</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,176,771                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">106,445,689</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,083,984</td>
<td style="font-weight: bold; text-align:right">1,548</td>
<td style="font-weight: bold; text-align:right">324,686</td>
<td style="font-weight: bold; text-align:right">3,515</td>
<td style="font-weight: bold; text-align:right">1,186,198,602</td>
<td style="font-weight: bold; text-align:right">3,542,951</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,805,269</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>285</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">3,238</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">44,998,701</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">531,930                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">44,466,194</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">577</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">31,990</td>
<td style="font-weight: bold; text-align:right">378</td>
<td style="font-weight: bold; text-align:right">930,797,975</td>
<td style="font-weight: bold; text-align:right">661,721</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,406,631,776</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>31</td><td>2,644</td><td>2</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">0.4</td>
</tr>
<tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">40,138,560</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">167,642                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">39,970,918</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right">869</td>
<td style="font-weight: bold; text-align:right">612,013</td>
<td style="font-weight: bold; text-align:right">2,556</td>
<td style="font-weight: bold; text-align:right">271,490,188</td>
<td style="font-weight: bold; text-align:right">4,139,547</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,584,518</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>391</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">38,491,696</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">176,058                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">38,240,600</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">75,038</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">458,870</td>
<td style="font-weight: bold; text-align:right">2,099</td>
<td style="font-weight: bold; text-align:right">122,332,384</td>
<td style="font-weight: bold; text-align:right">1,458,359</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,883,596</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>476</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">895</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">37,796,956</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">705,775                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">36,249,161</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">842,020</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">175,511</td>
<td style="font-weight: bold; text-align:right">3,277</td>
<td style="font-weight: bold; text-align:right">63,776,166</td>
<td style="font-weight: bold; text-align:right">296,146</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">215,353,593</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>305</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">3,910</td>
</tr>
<tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
<td style="font-weight: bold; text-align:right">34,571,873</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">35,934                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">34,535,939</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right">231</td>
<td style="font-weight: bold; text-align:right">673,523</td>
<td style="font-weight: bold; text-align:right">700</td>
<td style="font-weight: bold; text-align:right">15,804,065</td>
<td style="font-weight: bold; text-align:right">307,892</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/south-korea-population/">51,329,899</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>1</td><td>1,428</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/japan/">Japan</a></td>
<td style="font-weight: bold; text-align:right">33,803,572</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">74,694                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">83</td>
<td style="font-weight: bold; text-align:right">269,169</td>
<td style="font-weight: bold; text-align:right">595</td>
<td style="font-weight: bold; text-align:right">100,414,883</td>
<td style="font-weight: bold; text-align:right">799,578</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/japan-population/">125,584,838</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>4</td><td>1,681</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">95,582</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">26,043,870</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">191,586                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">25,698,988</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">153,296</td>
<td style="font-weight: bold; text-align:right">48</td>
<td style="font-weight: bold; text-align:right">432,172</td>
<td style="font-weight: bold; text-align:right">3,179</td>
<td style="font-weight: bold; text-align:right">275,228,417</td>
<td style="font-weight: bold; text-align:right">4,567,139</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,262,770</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>315</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,544</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">24,704,113</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">229,089                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">24,467,102</span></td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+1,712</td>
<td style="text-align:right;font-weight:bold;">7,922</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">360,655</td>
<td style="font-weight: bold; text-align:right">3,344</td>
<td style="font-weight: bold; text-align:right">522,526,476</td>
<td style="font-weight: bold; text-align:right">7,628,357</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,497,907</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>299</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">116</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">23,029,404</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">400,047                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">22,468,635</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">160,722</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">157,946</td>
<td style="font-weight: bold; text-align:right">2,744</td>
<td style="font-weight: bold; text-align:right">273,400,000</td>
<td style="font-weight: bold; text-align:right">1,875,095</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,805,947</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>364</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">1,102</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>

## 4. Extract table headers

In [4]:
# Now we need to specify BeautifulSoup to go through the table and find everything 
# with a tr tag.
# Note: th = (table header), tr = (table row), and td = table column.
rows = table.find_all('tr', attrs={'style': ""})

# View the output.
rows

[<tr>
 <th width="1%">#</th>
 <th width="100">Country,<br/>Other</th>
 <th width="20">Total<br/>Cases</th>
 <th width="30">New<br/>Cases</th>
 <th width="30">Total<br/>Deaths</th>
 <th width="30">New<br/>Deaths</th>
 <th width="30">Total<br/>Recovered</th>
 <th width="30">New<br/>Recovered</th>
 <th width="30">Active<br/>Cases</th>
 <th width="30">Serious,<br/>Critical</th>
 <th width="30">Tot Cases/<br/>1M pop</th>
 <th width="30">Deaths/<br/>1M pop</th>
 <th width="30">Total<br/>Tests</th>
 <th width="30">Tests/<br/>
 <nobr>1M pop</nobr>
 </th>
 <th width="30">Population</th>
 <th style="display:none" width="30">Continent</th>
 <th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
 <th width="30">New Cases/1M pop</th>
 <th width="30">New Deaths/1M pop</th>
 <th width="30">Active Cases/1M pop</th>
 </tr>,
 <tr class="total_row_world">
 <td></td>
 <td style="text-align:left;">World</td>
 <td>695,939,792</td>
 <td>+2,333</td>
 <td>6,921,077</td>
 <td>+11</td>
 <td>667,898,269</td>
 <td>+4,159</td>
 <td>21,120,446</td>
 <td>38,062</td>
 <td>89,283</td>
 <td>887.9</td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="all" style="display:none">All</td>
 <!-- 1 Case every X -->
 <td>
 </td>
 <!-- 1 Death every X -->
 <td></td>
 <!-- 1 test every X -->
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
 <td style="font-weight: bold; text-align:right">108,706,444</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">1,176,771                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">106,445,689</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">1,083,984</td>
 <td style="font-weight: bold; text-align:right">1,548</td>
 <td style="font-weight: bold; text-align:right">324,686</td>
 <td style="font-weight: bold; text-align:right">3,515</td>
 <td style="font-weight: bold; text-align:right">1,186,198,602</td>
 <td style="font-weight: bold; text-align:right">3,542,951</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,805,269</a> </td>
 <td data-continent="North America" style="display:none">North America</td>
 <!-- 1 Case/Death/Test every X -->
 <td>3</td><td>285</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">3,238</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
 <td style="font-weight: bold; text-align:right">44,998,701</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">531,930                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">44,466,194</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">577</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">31,990</td>
 <td style="font-weight: bold; text-align:right">378</td>
 <td style="font-weight: bold; text-align:right">930,797,975</td>
 <td style="font-weight: bold; text-align:right">661,721</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,406,631,776</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <!-- 1 Case/Death/Test every X -->
 <td>31</td><td>2,644</td><td>2</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">0.4</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
 <td style="font-weight: bold; text-align:right">38,491,696</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">176,058                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">38,240,600</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">75,038</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">458,870</td>
 <td style="font-weight: bold; text-align:right">2,099</td>
 <td style="font-weight: bold; text-align:right">122,332,384</td>
 <td style="font-weight: bold; text-align:right">1,458,359</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,883,596</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <!-- 1 Case/Death/Test every X -->
 <td>2</td><td>476</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">895</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
 <td style="font-weight: bold; text-align:right">37,796,956</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">705,775                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">36,249,161</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">842,020</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">175,511</td>
 <td style="font-weight: bold; text-align:right">3,277</td>
 <td style="font-weight: bold; text-align:right">63,776,166</td>
 <td style="font-weight: bold; text-align:right">296,146</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">215,353,593</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <!-- 1 Case/Death/Test every X -->
 <td>6</td><td>305</td><td>3</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">3,910</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/japan/">Japan</a></td>
 <td style="font-weight: bold; text-align:right">33,803,572</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">74,694                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right;">N/A</td>
 <td style="text-align:right;font-weight:bold;">N/A</td>
 <td style="font-weight: bold; text-align:right">83</td>
 <td style="font-weight: bold; text-align:right">269,169</td>
 <td style="font-weight: bold; text-align:right">595</td>
 <td style="font-weight: bold; text-align:right">100,414,883</td>
 <td style="font-weight: bold; text-align:right">799,578</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/japan-population/">125,584,838</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <!-- 1 Case/Death/Test every X -->
 <td>4</td><td>1,681</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">95,582</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
 <td style="font-weight: bold; text-align:right">26,043,870</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">191,586                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">25,698,988</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">153,296</td>
 <td style="font-weight: bold; text-align:right">48</td>
 <td style="font-weight: bold; text-align:right">432,172</td>
 <td style="font-weight: bold; text-align:right">3,179</td>
 <td style="font-weight: bold; text-align:right">275,228,417</td>
 <td style="font-weight: bold; text-align:right">4,567,139</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,262,770</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <!-- 1 Case/Death/Test every X -->
 <td>2</td><td>315</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">2,544</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
 <td style="font-weight: bold; text-align:right">24,704,113</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">229,089                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">24,467,102</span></td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+1,712</td>
 <td style="text-align:right;font-weight:bold;">7,922</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">360,655</td>
 <td style="font-weight: bold; text-align:right">3,344</td>
 <td style="font-weight: bold; text-align:right">522,526,476</td>
 <td style="font-weight: bold; text-align:right">7,628,357</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,497,907</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <!-- 1 Case/Death/Test every X -->
 <td>3</td><td>299</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">116</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
 <td style="font-weight: bold; text-align:right">23,029,404</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">400,047                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">22,468,635</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">160,722</td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right">157,946</td>
 <td style="font-weight: bold; text-align:right">2,744</td>
 <td style="font-weight: bold; text-align:right">273,400,000</td>
 <td style="font-weight: bold; text-align:right">1,875,095</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,805,947</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <!-- 1 Case/Death/Test every X -->
 <td>6</td><td>364</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">1,102</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
 <td style="font-weight: bold; text-align:right">17,232,066</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">102,174                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right;">N/A</td>
 <td style="text-align:right;font-weight:bold;">N/A</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">201,399</td>
 <td style="font-weight: bold; text-align:right">1,194</td>
 <td style="font-weight: bold; text-align:right">162,743,369</td>
 <td style="font-weight: bold; text-align:right">1,902,052</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">85,561,976</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <!-- 1 Case/Death/Test every X -->
 <td>5</td><td>837</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">4,024</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
 <td style="font-weight: bold; text-align:right">13,914,811</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">121,760                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">13,762,417</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">30,634</td>
 <td style="font-weight: bold; text-align:right">231</td>
 <td style="font-weight: bold; text-align:right">297,840</td>
 <td style="font-weight: bold; text-align:right">2,606</td>
 <td style="font-weight: bold; text-align:right">471,036,328</td>
 <td style="font-weight: bold; text-align:right">10,082,298</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,719,142</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <!-- 1 Case/Death/Test every X -->
 <td>3</td><td>384</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">656</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">13</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/australia/">Australia</a></td>
 <td style="font-weight: bold; text-align:right">11,768,585</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">22,754                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">11,740,373</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">5,458</td>
 <td style="font-weight: bold; text-align:right">23</td>
 <td style="font-weight: bold; text-align:right">451,443</td>
 <td style="font-weight: bold; text-align:right">873</td>
 <td style="font-weight: bold; text-align:right">81,916,639</td>
 <td style="font-weight: bold; text-align:right">3,142,326</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/australia-population/">26,068,792</a> </td>
 <td data-continent="Australia/Oceania" style="display:none">Australia/Oceania</td>
 <!-- 1 Case/Death/Test every X -->
 <td>2</td><td>1,146</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">209</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">14</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/viet-nam/">Vietnam</a></td>
 <td style="font-weight: bold; text-align:right">11,623,688</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+21</td>
 <td style="font-weight: bold; text-align:right;">43,206                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">10,640,787</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+4</td>
 <td style="text-align:right;font-weight:bold;">939,695</td>
 <td style="font-weight: bold; text-align:right">3</td>
 <td style="font-weight: bold; text-align:right">117,466</td>
 <td style="font-weight: bold; text-align:right">437</td>
 <td style="font-weight: bold; text-align:right">85,826,548</td>
 <td style="font-weight: bold; text-align:right">867,342</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/viet-nam-population/">98,953,541</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <!-- 1 Case/Death/Test every X -->
 <td>9</td><td>2,290</td><td>1</td>
 <td style="font-weight: bold; text-align:right">0.2</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">9,496</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">16</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/argentina/">Argentina</a></td>
 <td style="font-weight: bold; text-align:right">10,070,247</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">130,608                                </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">9,936,400</span></td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">3,239</td>
 <td style="font-weight: bold; text-align:right">363</td>
 <td style="font-weight: bold; text-align:right">218,870</td>
 <td style="font-weight: bold; text-align:right">2,839</td>
 <td style="font-weight: bold; text-align:right">35,716,069</td>

In [5]:
# Storage for the extracted data.
# Create an empty list.
output = []

# Specify the column names.
column_names = ['Country,Other', 'Total Cases', 'New Cases', 'Total Deaths',
               'New Deaths', 'Total Recovered', 'New Recovered',
               'Active Cases', 'Serious, Critical', 'Tot Cases/ 1M pop',
               'Deaths/ 1M pop', 'Total Tests', 'Tests/ 1M pop', 'Population']

# Create a for loop statement.
for cases in rows:
    cases_data = cases.find_all('td')
    if cases_data:
        # Extract the text within each element.
        cases_text = [td.text for td in cases_data]
        output.append(dict(zip(column_names, cases_text)))
        
# View the output.
output

[{'Country,Other': '',
  'Total Cases': 'World',
  'New Cases': '695,939,792',
  'Total Deaths': '+2,333',
  'New Deaths': '6,921,077',
  'Total Recovered': '+11',
  'New Recovered': '667,898,269',
  'Active Cases': '+4,159',
  'Serious, Critical': '21,120,446',
  'Tot Cases/ 1M pop': '38,062',
  'Deaths/ 1M pop': '89,283',
  'Total Tests': '887.9',
  'Tests/ 1M pop': '',
  'Population': ''},
 {'Country,Other': '1',
  'Total Cases': 'USA',
  'New Cases': '108,706,444',
  'Total Deaths': '',
  'New Deaths': '1,176,771                                ',
  'Total Recovered': '',
  'New Recovered': '106,445,689',
  'Active Cases': '',
  'Serious, Critical': '1,083,984',
  'Tot Cases/ 1M pop': '1,548',
  'Deaths/ 1M pop': '324,686',
  'Total Tests': '3,515',
  'Tests/ 1M pop': '1,186,198,602',
  'Population': '3,542,951'},
 {'Country,Other': '2',
  'Total Cases': 'India',
  'New Cases': '44,998,701',
  'Total Deaths': '',
  'New Deaths': '531,930                                ',
  'Total Recovered': '',
  'New Recovered': '44,466,194',
  'Active Cases': '',
  'Serious, Critical': '577',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '31,990',
  'Total Tests': '378',
  'Tests/ 1M pop': '930,797,975',
  'Population': '661,721'},
 {'Country,Other': '4',
  'Total Cases': 'Germany',
  'New Cases': '38,491,696',
  'Total Deaths': '',
  'New Deaths': '176,058                                ',
  'Total Recovered': '',
  'New Recovered': '38,240,600',
  'Active Cases': '',
  'Serious, Critical': '75,038',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '458,870',
  'Total Tests': '2,099',
  'Tests/ 1M pop': '122,332,384',
  'Population': '1,458,359'},
 {'Country,Other': '5',
  'Total Cases': 'Brazil',
  'New Cases': '37,796,956',
  'Total Deaths': '',
  'New Deaths': '705,775                                ',
  'Total Recovered': '',
  'New Recovered': '36,249,161',
  'Active Cases': '',
  'Serious, Critical': '842,020',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '175,511',
  'Total Tests': '3,277',
  'Tests/ 1M pop': '63,776,166',
  'Population': '296,146'},
 {'Country,Other': '7',
  'Total Cases': 'Japan',
  'New Cases': '33,803,572',
  'Total Deaths': '',
  'New Deaths': '74,694                                ',
  'Total Recovered': '',
  'New Recovered': 'N/A',
  'Active Cases': 'N/A',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '83',
  'Deaths/ 1M pop': '269,169',
  'Total Tests': '595',
  'Tests/ 1M pop': '100,414,883',
  'Population': '799,578'},
 {'Country,Other': '8',
  'Total Cases': 'Italy',
  'New Cases': '26,043,870',
  'Total Deaths': '',
  'New Deaths': '191,586                                ',
  'Total Recovered': '',
  'New Recovered': '25,698,988',
  'Active Cases': '',
  'Serious, Critical': '153,296',
  'Tot Cases/ 1M pop': '48',
  'Deaths/ 1M pop': '432,172',
  'Total Tests': '3,179',
  'Tests/ 1M pop': '275,228,417',
  'Population': '4,567,139'},
 {'Country,Other': '9',
  'Total Cases': 'UK',
  'New Cases': '24,704,113',
  'Total Deaths': '',
  'New Deaths': '229,089                                ',
  'Total Recovered': '',
  'New Recovered': '24,467,102',
  'Active Cases': '+1,712',
  'Serious, Critical': '7,922',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '360,655',
  'Total Tests': '3,344',
  'Tests/ 1M pop': '522,526,476',
  'Population': '7,628,357'},
 {'Country,Other': '10',
  'Total Cases': 'Russia',
  'New Cases': '23,029,404',
  'Total Deaths': '',
  'New Deaths': '400,047                                ',
  'Total Recovered': '',
  'New Recovered': '22,468,635',
  'Active Cases': '',
  'Serious, Critical': '160,722',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '157,946',
  'Total Tests': '2,744',
  'Tests/ 1M pop': '273,400,000',
  'Population': '1,875,095'},
 {'Country,Other': '11',
  'Total Cases': 'Turkey',
  'New Cases': '17,232,066',
  'Total Deaths': '',
  'New Deaths': '102,174                                ',
  'Total Recovered': '',
  'New Recovered': 'N/A',
  'Active Cases': 'N/A',
  'Serious, Critical': 'N/A',
  'Tot Cases/ 1M pop': '',
  'Deaths/ 1M pop': '201,399',
  'Total Tests': '1,194',
  'Tests/ 1M pop': '162,743,369',
  'Population': '1,902,052'},
 {'Country,Other': '12',
  'Total Cases': 'Spain',
  'New Cases': '13,914,811',
  'Total Deaths': '',
  'New Deaths': '121,760                                ',
  'Total Recovered': '',
  'New Recovered': '13,762,417',
  'Active Cases': '',
  'Serious, Critical': '30,634',
  'Tot Cases/ 1M pop': '231',
  'Deaths/ 1M pop': '297,840',
  'Total Tests': '2,606',
  'Tests/ 1M pop': '471,036,328',
  'Population': '10,082,298'},
 {'Country,Other': '13',
  'Total Cases': 'Australia',
  'New Cases': '11,768,585',
  'Total Deaths': '',
  'New Deaths': '22,754                                ',
  'Total Recovered': '',
  'New Recovered': '11,740,373',
  'Active Cases': '',
  'Serious, Critical': '5,458',
  'Tot Cases/ 1M pop': '23',
  'Deaths/ 1M pop': '451,443',
  'Total Tests': '873',
  'Tests/ 1M pop': '81,916,639',
  'Population': '3,142,326'},
 {'Country,Other': '14',
  'Total Cases': 'Vietnam',
  'New Cases': '11,623,688',
  'Total Deaths': '+21',
  'New Deaths': '43,206                                ',
  'Total Recovered': '',
  'New Recovered': '10,640,787',
  'Active Cases': '+4',
  'Serious, Critical': '939,695',
  'Tot Cases/ 1M pop': '3',
  'Deaths/ 1M pop': '117,466',
  'Total Tests': '437',
  'Tests/ 1M pop': '85,826,548',
  'Population': '867,342'},
 {'Country,Other': '16',
  'Total Cases': 'Argentina',
  'New Cases': '10,070,247',
  'Total Deaths': '',
  'New Deaths': '130,608                                ',
  'Total Recovered': '',
  'New Recovered': '9,936,400',
  'Active Cases': '',
  'Serious, Critical': '3,239',
  'Tot Cases/ 1M pop': '363',
  'Deaths/ 1M pop': '218,870',
  'Total Tests': '2,839',
  'Tests/ 1M pop': '35,716,069',
  'Population': '776,264'},
 {'Country,Other': '18',
  'Total Cases': 'Mexico',
  'New Cases': '7,649,199',
  'Total Deaths': '',
  'New Deaths': '334,472                                ',
  'Total Recovered': '',
  'New Recovered': '6,899,865',
  'Active Cases': '',
  'Serious, Critical': '414,862',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '58,141',
  'Total Tests': '2,542',
  'Tests/ 1M pop': '20,013,810',
  'Population': '152,124'},
 {'Country,Other': '19',
  'Total Cases': 'Iran',
  'New Cases': '7,616,791',
  'Total Deaths': '',
  'New Deaths': '146,386                                ',
  'Total Recovered': '',
  'New Recovered': '7,377,233',
  'Active Cases': '',
  'Serious, Critical': '93,172',
  'Tot Cases/ 1M pop': '18',
  'Deaths/ 1M pop': '88,544',
  'Total Tests': '1,702',
  'Tests/ 1M pop': '57,320,267',
  'Population': '666,338'},
 {'Country,Other': '20',
  'Total Cases': 'Indonesia',
  'New Cases': '6,813,429',
  'Total Deaths': '',
  'New Deaths': '161,918                                ',
  'Total Recovered': '',
  'New Recovered': '6,646,827',
  'Active Cases': '',
  'Serious, Critical': '4,684',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '24,409',
  'Total Tests': '580',
  'Tests/ 1M pop': '114,158,919',
  'Population': '408,975'},
 {'Country,Other': '21',
  'Total Cases': 'Poland',
  'New Cases': '6,523,034',
  'Total Deaths': '+276',
  'New Deaths': '119,651                                ',
  'Total Recovered': '+1',
  'New Recovered': '5,335,940',
  'Active Cases': '',
  'Serious, Critical': '1,067,443',
  'Tot Cases/ 1M pop': '53',
  'Deaths/ 1M pop': '172,842',
  'Total Tests': '3,170',
  'Tests/ 1M pop': '38,846,007',
  'Population': '1,029,312'},
 {'Country,Other': '22',
  'Total Cases': 'Colombia',
  'New Cases': '6,378,000',
  'Total Deaths': '',
  'New Deaths': '142,961                                ',
  'Total Recovered': '',
  'New Recovered': '6,190,683',
  'Active Cases': '',
  'Serious, Critical': '44,356',
  'Tot Cases/ 1M pop': '342',
  'Deaths/ 1M pop': '123,814',
  'Total Tests': '2,775',
  'Tests/ 1M pop': '36,951,507',
  'Population': '717,327'},
 {'Country,Other': '24',
  'Total Cases': 'Austria',
  'New Cases': '6,081,287',
  'Total Deaths': '',
  'New Deaths': '22,542                                ',
  'Total Recovered': '',
  'New Recovered': '6,054,934',
  'Active Cases': '',
  'Serious, Critical': '3,811',
  'Tot Cases/ 1M pop': '14',
  'Deaths/ 1M pop': '670,727',
  'Total Tests': '2,486',
  'Tests/ 1M pop': '211,273,524',
  'Population': '23,302,116'},
 {'Country,Other': '25',
  'Total Cases': 'Portugal',
  'New Cases': '5,623,951',
  'Total Deaths': '',
  'New Deaths': '27,509                                ',
  'Total Recovered': '',
  'New Recovered': '5,585,433',
  'Active Cases': '',
  'Serious, Critical': '11,009',
  'Tot Cases/ 1M pop': '61',
  'Deaths/ 1M pop': '554,599',
  'Total Tests': '2,713',
  'Tests/ 1M pop': '46,139,518',
  'Population': '4,549,993'},
 {'Country,Other': '27',
  'Total Cases': 'Chile',
  'New Cases': '5,293,064',
  'Total Deaths': '',
  'New Deaths': '64,497                                ',
  'Total Recovered': '',
  'New Recovered': '5,228,452',
  'Active Cases': '',
  'Serious, Critical': '115',
  'Tot Cases/ 1M pop': '13',
  'Deaths/ 1M pop': '274,962',
  'Total Tests': '3,350',
  'Tests/ 1M pop': '50,039,238',
  'Population': '2,599,415'},
 {'Country,Other': '28',
  'Total Cases': 'Malaysia',
  'New Cases': '5,125,900',
  'Total Deaths': '',
  'New Deaths': '37,172                                ',
  'Total Recovered': '',
  'New Recovered': '5,077,516',
  'Active Cases': '',
  'Serious, Critical': '11,212',
  'Tot Cases/ 1M pop': '4',
  'Deaths/ 1M pop': '154,483',
  'Total Tests': '1,120',
  'Tests/ 1M pop': '68,493,395',
  'Population': '2,064,231'},
 {'Country,Other': '29',
  'Total Cases': 'Israel',
  'New Cases': '4,837,580',
  'Total Deaths': '',
  'New Deaths': '12,670                                ',
  'Total Recovered': '',
  'New Recovered': '4,798,473',
  'Active Cases': '',
  'Serious, Critical': '26,437',
  'Tot Cases/ 1M pop': '21',
  'Deaths/ 1M pop': '518,720',
  'Total Tests': '1,359',
  'Tests/ 1M pop': '41,373,364',
  'Population': '4,436,346'},
 {'Country,Other': '30',
  'Total Cases': 'Belgium',
  'New Cases': '4,817,196',
  'Total Deaths': '',
  'New Deaths': '34,376                                ',
  'Total Recovered': '',
  'New Recovered': '4,771,334',
  'Active Cases': '',
  'Serious, Critical': '11,486',
  'Tot Cases/ 1M pop': '43',
  'Deaths/ 1M pop': '412,845',
  'Total Tests': '2,946',
  'Tests/ 1M pop': '37,018,657',
  'Population': '3,172,590'},
 {'Country,Other': '32',
  'Total Cases': 'Thailand',
  'New Cases': '4,757,283',
  'Total Deaths': '',
  'New Deaths': '34,474                                ',
  'Total Recovered': '',
  'New Recovered': '4,692,636',
  'Active Cases': '',
  'Serious, Critical': '30,173',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '67,885',
  'Total Tests': '492',
  'Tests/ 1M pop': '17,270,775',
  'Population': '246,450'},
 {'Country,Other': '33',
  'Total Cases': 'Canada',
  'New Cases': '4,728,375',
  'Total Deaths': '',
  'New Deaths': '53,793                                ',
  'Total Recovered': '',
  'New Recovered': '4,654,463',
  'Active Cases': '+602',
  'Serious, Critical': '20,119',
  'Tot Cases/ 1M pop': '99',
  'Deaths/ 1M pop': '123,172',
  'Total Tests': '1,401',
  'Tests/ 1M pop': '66,447,548',
  'Population': '1,730,927'},
 {'Country,Other': '34',
  'Total Cases': 'Czechia',
  'New Cases': '4,651,076',
  'Total Deaths': '+33',
  'New Deaths': '42,846                                ',
  'Total Recovered': '',
  'New Recovered': '4,604,872',
  'Active Cases': '+579',
  'Serious, Critical': '3,358',
  'Tot Cases/ 1M pop': '8',
  'Deaths/ 1M pop': '433,191',
  'Total Tests': '3,991',
  'Tests/ 1M pop': '57,292,949',
  'Population': '5,336,137'},
 {'Country,Other': '36',
  'Total Cases': 'Switzerland',
  'New Cases': '4,413,440',
  'Total Deaths': '',
  'New Deaths': '14,452                                ',
  'Total Recovered': '',
  'New Recovered': '4,395,295',
  'Active Cases': '',
  'Serious, Critical': '3,693',
  'Tot Cases/ 1M pop': '39',
  'Deaths/ 1M pop': '503,034',
  'Total Tests': '1,647',
  'Tests/ 1M pop': '23,833,472',
  'Population': '2,716,487'},
 {'Country,Other': '37',
  'Total Cases': 'Philippines',
  'New Cases': '4,174,101',
  'Total Deaths': '',
  'New Deaths': '66,643                                ',
  'Total Recovered': '',
  'New Recovered': '4,103,828',
  'Active Cases': '',
  'Serious, Critical': '3,630',
  'Tot Cases/ 1M pop': '162',
  'Deaths/ 1M pop': '37,100',
  'Total Tests': '592',
  'Tests/ 1M pop': '35,659,012',
  'Population': '316,944'},
 {'Country,Other': '38',
  'Total Cases': 'South Africa',
  'New Cases': '4,076,463',
  'Total Deaths': '',
  'New Deaths': '102,595                                ',
  'Total Recovered': '',
  'New Recovered': '3,912,506',
  'Active Cases': '',
  'Serious, Critical': '61,362',
  'Tot Cases/ 1M pop': '192',
  'Deaths/ 1M pop': '67,095',
  'Total Tests': '1,689',
  'Tests/ 1M pop': '26,795,090',
  'Population': '441,027'},
 {'Country,Other': '39',
  'Total Cases': 'Romania',
  'New Cases': '3,455,207',
  'Total Deaths': '',
  'New Deaths': '68,341                                ',
  'Total Recovered': '',
  'New Recovered': '3,360,779',
  'Active Cases': '',
  'Serious, Critical': '26,087',
  'Tot Cases/ 1M pop': '74',
  'Deaths/ 1M pop': '181,554',
  'Total Tests': '3,591',
  'Tests/ 1M pop': '28,000,157',
  'Population': '1,471,266'},
 {'Country,Other': '41',
  'Total Cases': 'Hong Kong',
  'New Cases': '2,920,721',
  'Total Deaths': '+695',
  'New Deaths': '14,254                                ',
  'Total Recovered': '+8',
  'New Recovered': '2,902,646',
  'Active Cases': '',
  'Serious, Critical': '3,821',
  'Tot Cases/ 1M pop': '28',
  'Deaths/ 1M pop': '384,088',
  'Total Tests': '1,874',
  'Tests/ 1M pop': '76,127,725',
  'Population': '10,011,143'},
 {'Country,Other': '42',
  'Total Cases': 'Sweden',
  'New Cases': '2,717,578',
  'Total Deaths': '',
  'New Deaths': '24,888                                ',
  'Total Recovered': '',
  'New Recovered': '2,690,426',
  'Active Cases': '+178',
  'Serious, Critical': '2,264',
  'Tot Cases/ 1M pop': '1',
  'Deaths/ 1M pop': '265,935',
  'Total Tests': '2,435',
  'Tests/ 1M pop': '19,500,873',
  'Population': '1,908,301'},
 {'Country,Other': '43',
  'Total Cases': 'Singapore',
  'New Cases': '2,588,520',
  'Total Deaths': '',
  'New Deaths': '1,885                                ',
  'Total Recovered': '',
  'New Recovered': '2,149,583',
  'Active Cases': '',
  'Serious, Critical': '437,052',
  'Tot Cases/ 1M pop': '7',
  'Deaths/ 1M pop': '435,518',
  'Total Tests': '317',
  'Tests/ 1M pop': '24,756,666',
  'Population': '4,165,302'},
 {'Country,Other': '44',
  'Total Cases': 'Serbia',
  'New Cases': '2,556,026',
  'Total Deaths': '',
  'New Deaths': '18,057                                ',
  'Total Recovered': '',
  'New Recovered': '2,529,789',
  'Active Cases': '',
  'Serious, Critical': '8,180',
  'Tot Cases/ 1M pop': '',
  'Deaths/ 1M pop': '295,391',
  'Total Tests': '2,087',
  'Tests/ 1M pop': '13,088,879',
  'Population': '1,512,638'},
 {'Country,Other': '45',
  'Total Cases': 'New Zealand',
  'New Cases': '2,467,468',
  'Total Deaths': '',
  'New Deaths': '4,828                                ',
  'Total Recovered': '',
  'New Recovered': '2,461,144',
  'Active Cases': '',
  'Serious, Critical': '1,496',
  'Tot Cases/ 1M pop': '',
  'Deaths/ 1M pop': '503,750',
  'Total Tests': '986',
  'Tests/ 1M pop': '7,768,604',
  'Population': '1,586,011'},
 {'Country,Other': '46',
  'Total Cases': 'Iraq',
  'New Cases': '2,465,545',
  'Total Deaths': '',
  'New Deaths': '25,375                                ',
  'Total Recovered': '',
  'New Recovered': '2,439,497',
  'Active Cases': '',
  'Serious, Critical': '673',
  'Tot Cases/ 1M pop': '21',
  'Deaths/ 1M pop': '58,474',
  'Total Tests': '602',
  'Tests/ 1M pop': '19,544,451',
  'Population': '463,523'},
 {'Country,Other': '47',
  'Total Cases': 'Hungary',
  'New Cases': '2,204,488',
  'Total Deaths': '',
  'New Deaths': '48,881                                ',
  'Total Recovered': '',
  'New Recovered': '2,152,155',
  'Active Cases': '',
  'Serious, Critical': '3,452',
  'Tot Cases/ 1M pop': '2',
  'Deaths/ 1M pop': '229,485',
  'Total Tests': '5,088',
  'Tests/ 1M pop': '11,394,556',
  'Population': '1,186,160'},
 {'Country,Other': '48',
  'Total Cases': 'Bangladesh',
  'New Cases': '2,045,671',
  'Total Deaths': '',
  'New Deaths': '29,477                                ',
  'Total Recovered': '',
  'New Recovered': '1,998,448',
  'Active Cases': '',
  'Serious, Critical': '17,746',
  'Tot Cases/ 1M pop': 'N/A',
  'Deaths/ 1M pop': '12,185',
  'Total Tests': '176',
  'Tests/ 1M pop': '15,254,399',
  'Population': '90,862'},
 {'Country,Other': '49',
  'Total Cases': 'Slovakia',
  'New Cases': '1,867,525',
  'Total Deaths': '',
  'New Deaths': '21,167                                ',
  'Total Recovered': '',
  'New Recovered': '1,846,156',
  'Active Cases': '',
  'Serious, Critical': '202',
  'Tot Cases/ 1M pop': '6',
  'Deaths/ 1M pop': '342,025',
  'Total Tests': '3,877',
  'Tests/ 1M pop': '7,439,346',
  'Population': '1,362,469'},
 {'Country,Other': '50',
  'Total Cases': 'Georgia',
  'New Cases': '1,855,289',
  'Total Deaths': '',
  'New Deaths': '17,132                                ',
  'Total Recovered': '',
  'New Recovered': '1,776,548',
  'Active Cases': '',
  'Serious, Critical': '61,609',
  'Tot Cases/ 1M pop': '',
  'Deaths/ 1M pop': '467,476',
  'Total Tests': '4,317',
  'Tests/ 1M pop': '16,920,079',
  'Population': '4,263,340'},
 {'Country,Other': '51',
  'Total Cases': 'Jordan',
  'New Cases': '1,746,997',
  'Total Deaths': '',
  'New Deaths': '14,122                                ',
  'Total Recovered': '',
  'New Recovered': '1,731,007',
  'Active Cases': '',
  'Serious, Critical': '1,868',
  'Tot Cases/ 1M pop': '59',
  'Deaths/ 1M pop': '169,597',
  'Total Tests': '1,371',
  'Tests/ 1M pop': '17,201,885',
  'Population': '1,669,945'},
 {'Country,Other': '52',
  'Total Cases': 'Ireland',
  'New Cases': '1,720,466',
  'Total Deaths': '',
  'New Deaths': '9,234                                ',
  'Total Recovered': '',
  'New Recovered': '1,709,059',
  'Active Cases': '+803',
  'Serious, Critical': '2,173',
  'Tot Cases/ 1M pop': '19',
  'Deaths/ 1M pop': '342,709',
  'Total Tests': '1,839',
  'Tests/ 1M pop': '13,083,449',
  'Population': '2,606,161'},
 {'Country,Other': '53',
  'Total Cases': 'Pakistan',
  'New Cases': '1,581,850',
  'Total Deaths': '',
  'New Deaths': '30,664                                ',
  'Total Recovered': '',
  'New Recovered': '1,538,689',
  'Active Cases': '',
  'Serious, Critical': '12,497',
  'Tot Cases/ 1M pop': '1',
  'Deaths/ 1M pop': '6,893',
  'Total Tests': '134',
  'Tests/ 1M pop': '30,589,153',
  'Population': '133,292'},
 {'Country,Other': '54',
  'Total Cases': 'Norway',
  'New Cases': '1,488,692',
  'Total Deaths': '',
  'New Deaths': '5,667                                ',
  'Total Recovered': '',
  'New Recovered': '1,482,178',
  'Active Cases': '',
  'Serious, Critical': '847',
  'Tot Cases/ 1M pop': '20',
  'Deaths/ 1M pop': '270,113',
  'Total Tests': '1,028',
  'Tests/ 1M pop': '11,002,430',
  'Population': '1,996,315'},
 {'Country,Other': '55',
  'Total Cases': 'Finland',
  'New Cases': '1,486,084',
  'Total Deaths': '',
  'New Deaths': '10,265                                ',
  'Total Recovered': '',
  'New Recovered': '1,474,506',
  'Active Cases': '+132',
  'Serious, Critical': '1,313',
  'Tot Cases/ 1M pop': '21',
  'Deaths/ 1M pop': '267,524',
  'Total Tests': '1,848',
  'Tests/ 1M pop': '12,108,977',
  'Population': '2,179,850'},
 {'Country,Other': '56',
  'Total Cases': 'Kazakhstan',
  'New Cases': '1,411,831',
  'Total Deaths': '',
  'New Deaths': '13,848                                ',
  'Total Recovered': '',

## 5. Convert extracted data into a Panda DataFrame

In [6]:
# Create a DataFrame directly from the output.
data = pd.DataFrame(output)

# View the DataFrame.
data.head()

,"Country,Other",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population
0,,World,"695,939,792","+2,333","6,921,077",+11,"667,898,269","+4,159","21,120,446","38,062","89,283",887.9,,
1,1,USA,"108,706,444",,"1,176,771",,"106,445,689",,"1,083,984","1,548","324,686","3,515","1,186,198,602","3,542,951"
2,2,India,"44,998,701",,"531,930",,"44,466,194",,577,N/A,"31,990",378,"930,797,975","661,721"
3,4,Germany,"38,491,696",,"176,058",,"38,240,600",,"75,038",N/A,"458,870","2,099","122,332,384","1,458,359"
4,5,Brazil,"37,796,956",,"705,775",,"36,249,161",,"842,020",N/A,"175,511","3,277","63,776,166","296,146"

## 6. Convert, clean and analyse the data

In [7]:
# Save the DataFrame as a CSV file without index.
data.to_csv('cases.csv', index=False)

In [8]:
# Create a JSON file.
import json

# Create a JSON file.
output_json = json.dumps(output)

# View the output.
output_json

'[{"Country,Other": "", "Total Cases": "World", "New Cases": "695,939,792", "Total Deaths": "+2,333", "New Deaths": "6,921,077", "Total Recovered": "+11", "New Recovered": "667,898,269", "Active Cases": "+4,159", "Serious, Critical": "21,120,446", "Tot Cases/ 1M pop": "38,062", "Deaths/ 1M pop": "89,283", "Total Tests": "887.9", "Tests/ 1M pop": "", "Population": ""}, {"Country,Other": "1", "Total Cases": "USA", "New Cases": "108,706,444", "Total Deaths": "", "New Deaths": "1,176,771                                ", "Total Recovered": "", "New Recovered": "106,445,689", "Active Cases": "", "Serious, Critical": "1,083,984", "Tot Cases/ 1M pop": "1,548", "Deaths/ 1M pop": "324,686", "Total Tests": "3,515", "Tests/ 1M pop": "1,186,198,602", "Population": "3,542,951"}, {"Country,Other": "2", "Total Cases": "India", "New Cases": "44,998,701", "Total Deaths": "", "New Deaths": "531,930                                ", "Total Recovered": "", "New Recovered": "44,466,194", "Active Cases": "", "Serious, Critical": "577", "Tot Cases/ 1M pop": "N/A", "Deaths/ 1M pop": "31,990", "Total Tests": "378", "Tests/ 1M pop": "930,797,975", "Population": "661,721"}, {"Country,Other": "4", "Total Cases": "Germany", "New Cases": "38,491,696", "Total Deaths": "", "New Deaths": "176,058                                ", "Total Recovered": "", "New Recovered": "38,240,600", "Active Cases": "", "Serious, Critical": "75,038", "Tot Cases/ 1M pop": "N/A", "Deaths/ 1M pop": "458,870", "Total Tests": "2,099", "Tests/ 1M pop": "122,332,384", "Population": "1,458,359"}, {"Country,Other": "5", "Total Cases": "Brazil", "New Cases": "37,796,956", "Total Deaths": "", "New Deaths": "705,775                                ", "Total Recovered": "", "New Recovered": "36,249,161", "Active Cases": "", "Serious, Critical": "842,020", "Tot Cases/ 1M pop": "N/A", "Deaths/ 1M pop": "175,511", "Total Tests": "3,277", "Tests/ 1M pop": "63,776,166", "Population": "296,146"}, {"Country,Other": "7", "Total Cases": "Japan", "New Cases": "33,803,572", "Total Deaths": "", "New Deaths": "74,694                                ", "Total Recovered": "", "New Recovered": "N/A", "Active Cases": "N/A", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "83", "Deaths/ 1M pop": "269,169", "Total Tests": "595", "Tests/ 1M pop": "100,414,883", "Population": "799,578"}, {"Country,Other": "8", "Total Cases": "Italy", "New Cases": "26,043,870", "Total Deaths": "", "New Deaths": "191,586                                ", "Total Recovered": "", "New Recovered": "25,698,988", "Active Cases": "", "Serious, Critical": "153,296", "Tot Cases/ 1M pop": "48", "Deaths/ 1M pop": "432,172", "Total Tests": "3,179", "Tests/ 1M pop": "275,228,417", "Population": "4,567,139"}, {"Country,Other": "9", "Total Cases": "UK", "New Cases": "24,704,113", "Total Deaths": "", "New Deaths": "229,089                                ", "Total Recovered": "", "New Recovered": "24,467,102", "Active Cases": "+1,712", "Serious, Critical": "7,922", "Tot Cases/ 1M pop": "N/A", "Deaths/ 1M pop": "360,655", "Total Tests": "3,344", "Tests/ 1M pop": "522,526,476", "Population": "7,628,357"}, {"Country,Other": "10", "Total Cases": "Russia", "New Cases": "23,029,404", "Total Deaths": "", "New Deaths": "400,047                                ", "Total Recovered": "", "New Recovered": "22,468,635", "Active Cases": "", "Serious, Critical": "160,722", "Tot Cases/ 1M pop": "N/A", "Deaths/ 1M pop": "157,946", "Total Tests": "2,744", "Tests/ 1M pop": "273,400,000", "Population": "1,875,095"}, {"Country,Other": "11", "Total Cases": "Turkey", "New Cases": "17,232,066", "Total Deaths": "", "New Deaths": "102,174                                ", "Total Recovered": "", "New Recovered": "N/A", "Active Cases": "N/A", "Serious, Critical": "N/A", "Tot Cases/ 1M pop": "", "Deaths/ 1M pop": "201,399", "Total Tests": "1,194", "Tests/ 1M pop": "162,743,369", "Population": "1,902,052"}, {"Country,Other": "12", "Total Cases": "Spain", "New Cases": "13,914,811", "Total Deaths": "", "New Deaths": "121,760                                ", "Total Recovered": "", "New Recovered": "13,762,417", "Active Cases": "", "Serious, Critical": "30,634", "Tot Cases/ 1M pop": "231", "Deaths/ 1M pop": "297,840", "Total Tests": "2,606", "Tests/ 1M pop": "471,036,328", "Population": "10,082,298"}, {"Country,Other": "13", "Total Cases": "Australia", "New Cases": "11,768,585", "Total Deaths": "", "New Deaths": "22,754                                ", "Total Recovered": "", "New Recovered": "11,740,373", "Active Cases": "", "Serious, Critical": "5,458", "Tot Cases/ 1M pop": "23", "Deaths/ 1M pop": "451,443", "Total Tests": "873", "Tests/ 1M pop": "81,916,639", "Population": "3,142,326"}, {"Country,Other": "14", "Total Cases": "Vietnam", "New Cases": "11,623,688", "Total Deaths": "+21", "New Deaths": "43,206                                ", "Total Recovered": "", "New Recovered": "10,640,787", "Active Cases": "+4", "Serious, Critical": "939,695", "Tot Cases/ 1M pop": "3", "Deaths/ 1M pop": "117,466", "Total Tests": "437", "Tests/ 1M pop": "85,826,548", "Population": "867,342"}, {"Country,Other": "16", "Total Cases": "Argentina", "New Cases": "10,070,247", "Total Deaths": "", "New Deaths": "130,608                                ", "Total Recovered": "", "New Recovered": "9,936,400", "Active Cases": "", "Serious, Critical": "3,239", "Tot Cases/ 1M pop": "363", "Deaths/ 1M pop": "218,870", "Total Tests": "2,839", "Tests/ 1M pop": "35,716,069", "Population": "776,264"}, {"Country,Other": "18", "Total Cases": "Mexico", "New Cases": "7,649,199", "Total Deaths": "", "New Deaths": "334,472                                ", "Total Recovered": "", "New Recovered": "6,899,865", "Active Cases": "", "Serious, Critical": "414,862", "Tot Cases/ 1M pop": "N/A", "Deaths/ 1M pop": "58,141", "Total Tests": "2,542", "Tests/ 1M pop": "20,013,810", "Population": "152,124"}, {"Country,Other": "19", "Total Cases": "Iran", "New Cases": "7,616,791", "Total Deaths": "", "New Deaths": "146,386                                ", "Total Recovered": "", "New Recovered": "7,377,233", "Active Cases": "", "Serious, Critical": "93,172", "Tot Cases/ 1M pop": "18", "Deaths/ 1M pop": "88,544", "Total Tests": "1,702", "Tests/ 1M pop": "57,320,267", "Population": "666,338"}, {"Country,Other": "20", "Total Cases": "Indonesia", "New Cases": "6,813,429", "Total Deaths": "", "New Deaths": "161,918                                ", "Total Recovered": "", "New Recovered": "6,646,827", "Active Cases": "", "Serious, Critical": "4,684", "Tot Cases/ 1M pop": "N/A", "Deaths/ 1M pop": "24,409", "Total Tests": "580", "Tests/ 1M pop": "114,158,919", "Population": "408,975"}, {"Country,Other": "21", "Total Cases": "Poland", "New Cases": "6,523,034", "Total Deaths": "+276", "New Deaths": "119,651                                ", "Total Recovered": "+1", "New Recovered": "5,335,940", "Active Cases": "", "Serious, Critical": "1,067,443", "Tot Cases/ 1M pop": "53", "Deaths/ 1M pop": "172,842", "Total Tests": "3,170", "Tests/ 1M pop": "38,846,007", "Population": "1,029,312"}, {"Country,Other": "22", "Total Cases": "Colombia", "New Cases": "6,378,000", "Total Deaths": "", "New Deaths": "142,961                                ", "Total Recovered": "", "New Recovered": "6,190,683", "Active Cases": "", "Serious, Critical": "44,356", "Tot Cases/ 1M pop": "342", "Deaths/ 1M pop": "123,814", "Total Tests": "2,775", "Tests/ 1M pop": "36,951,507", "Population": "717,327"}, {"Country,Other": "24", "Total Cases": "Austria", "New Cases": "6,081,287", "Total Deaths": "", "New Deaths": "22,542                                ", "Total Recovered": "", "New Recovered": "6,054,934", "Active Cases": "", "Serious, Critical": "3,811", "Tot Cases/ 1M pop": "14", "Deaths/ 1M pop": "670,727", "Total Tests": "2,486", "Tests/ 1M pop": "211,273,524", "Population": "23,302,116"}, {"Country,Other": "25", "Total Cases": "Portugal", "New Cases": "5,623,951", "Total Deaths": "", "New Deaths": "27,509                                ", "Total Recovered": "", "New Recovered": "5,585,433", "Active Cases": "", "Serious, Critical": "11,009", "Tot Cases/ 1M pop": "61", "Deaths/ 1M pop": "554,599", "Total Tests": "2,713", "Tests/ 1M pop": "46,139,518", "Population": "4,549,993"}, {"Country,Other": "27", "Total Cases": "Chile", "New Cases": "5,293,064", "Total Deaths": "", "New Deaths": "64,497                                ", "Total Recovered": "", "New Recovered": "5,228,452", "Active Cases": "", "Serious, Critical": "115", "Tot Cases/ 1M pop": "13", "Deaths/ 1M pop": "274,962", "Total Tests": "3,350", "Tests/ 1M pop": "50,039,238", "Population": "2,599,415"}, {"Country,Other": "28", "Total Cases": "Malaysia", "New Cases": "5,125,900", "Total Deaths": "", "New Deaths": "37,172                                ", "Total Recovered": "", "New Recovered": "5,077,516", "Active Cases": "", "Serious, Critical": "11,212", "Tot Cases/ 1M pop": "4", "Deaths/ 1M pop": "154,483", "Total Tests": "1,120", "Tests/ 1M pop": "68,493,395", "Population": "2,064,231"}, {"Country,Other": "29", "Total Cases": "Israel", "New Cases": "4,837,580", "Total Deaths": "", "New Deaths": "12,670                                ", "Total Recovered": "", "New Recovered": "4,798,473", "Active Cases": "", "Serious, Critical": "26,437", "Tot Cases/ 1M pop": "21", "Deaths/ 1M pop": "518,720", "Total Tests": "1,359", "Tests/ 1M pop": "41,373,364", "Population": "4,436,346"}, {"Country,Other": "30", "Total Cases": "Belgium", "New Cases": "4,817,196", "Total Deaths": "", "New Deaths": "34,376                                ", "Total Recovered": "", "New Recovered": "4,771,334", "Active Cases": "", "Serious, Critical": "11,486", "Tot Cases/ 1M pop": "43", "Deaths/ 1M pop": "412,845", "Total Tests": "2,946", "Tests/ 1M pop": "37,018,657", "Population": "3,172,590"}, {"Country,Other": "32", "Total Cases": "Thailand", "New Cases": "4,757,283", "Total Deaths": "", "New Deaths": "34,474                                ", "Total Recovered": "", "New Recovered": "4,692,636", "Active Cases": "", "Serious, Critical": "30,173", "Tot Cases/ 1M pop": "N/A", "Deaths/ 1M pop": "67,885", "Total Tests": "492", "Tests/ 1M pop": "17,270,775", "Population": "246,450"}, {"Country,Other": "33", "Total Cases": "Canada", "New Cases": "4,728,375", "Total Deaths": "", "New Deaths": "53,793                                ", "Total Recovered": "", "New Recovered": "4,654,463", "Active Cases": "+602", "Serious, Critical": "20,119", "Tot Cases/ 1M pop": "99", "Deaths/ 1M pop": "123,172", "Total Tests": "1,401", "Tests/ 1M pop": "66,447,548", "Population": "1,730,927"}, {"Country,Other": "34", "Total Cases": "Czechia", "New Cases": "4,651,076", "Total Deaths": "+33", "New Deaths": "42,846                                ", "Total Recovered": "", "New Recovered": "4,604,872", "Active Cases": "+579", "Serious, Critical": "3,358", "Tot Cases/ 1M pop": "8", "Deaths/ 1M pop": "433,191", "Total Tests": "3,991", "Tests/ 1M pop": "57,292,949", "Population": "5,336,137"}, {"Country,Other": "36", "Total Cases": "Switzerland", "New Cases": "4,413,440", "Total Deaths": "", "New Deaths": "14,452                                ", "Total Recovered": "", "New Recovered": "4,395,295", "Active Cases": "", "Serious, Critical": "3,693", "Tot Cases/ 1M pop": "39", "Deaths/ 1M pop": "503,034", "Total Tests": "1,647", "Tests/ 1M pop": "23,833,472", "Population": "2,716,487"}, {"Country,Other": "37", "Total Cases": "Philippines", "New Cases": "4,174,101", "Total Deaths": "", "New Deaths": "66,643                                ", "Total Recovered": "", "New Recovered": "4,103,828", "Active Cases": "", "Serious, Critical": "3,630", "Tot Cases/ 1M pop": "162", "Deaths/ 1M pop": "37,100", "Total Tests": "592", "Tests/ 1M pop": "35,659,012", "Population": "316,944"}, {"Country,Other": "38", "Total Cases": "South Africa", "New Cases": "4,076,463", "Total Deaths": "", "New Deaths": "102,595                                ", "Total Recovered": "", "New Recovered": "3,912,506", "Active Cases": "", "Serious, Critical": "61,362", "Tot Cases/ 1M pop": "192", "Deaths/ 1M pop": "67,095", "Total Tests": "1,689", "Tests/ 1M pop": "26,795,090", "Population": "441,027"}, {"Country,Other": "39", "Total Cases": "Romania", "New Cases": "3,455,207", "Total Deaths": "", "New Deaths": "68,341                                ", "Total Recovered": "", "New Recovered": "3,360,779", "Active Cases": "", "Serious, Critical": "26,087", "Tot Cases/ 1M pop": "74", "Deaths/ 1M pop": "181,554", "Total Tests": "3,591", "Tests/ 1M pop": "28,000,157", "Population": "1,471,266"}, {"Country,Other": "41", "Total Cases": "Hong Kong", "New Cases": "2,920,721", "Total Deaths": "+695", "New Deaths": "14,254                                ", "Total Recovered": "+8", "New Recovered": "2,902,646", "Active Cases": "", "Serious, Critical": "3,821", "Tot Cases/ 1M pop": "28", "Deaths/ 1M pop": "384,088", "Total Tests": "1,874", "Tests/ 1M pop": "76,127,725", "Population": "10,011,143"}, {"Country,Other": "42", "Total Cases": "Sweden", "New Cases": "2,717,578", "Total Deaths": "", "New Deaths": "24,888                                ", "Total Recovered": "", "New Recovered": "2,690,426", "Active Cases": "+178", "Serious, Critical": "2,264", "Tot Cases/ 1M pop": "1", "Deaths/ 1M pop": "265,935", "Total Tests": "2,435", "Tests/ 1M pop": "19,500,873", "Population": "1,908,301"}, {"Country,Other": "43", "Total Cases": "Singapore", "New Cases": "2,588,520", "Total Deaths": "", "New Deaths": "1,885                                ", "Total Recovered": "", "New Recovered": "2,149,583", "Active Cases": "", "Serious, Critical": "437,052", "Tot Cases/ 1M pop": "7", "Deaths/ 1M pop": "435,518", "Total Tests": "317", "Tests/ 1M pop": "24,756,666", "Population": "4,165,302"}, {"Country,Other": "44", "Total Cases": "Serbia", "New Cases": "2,556,026", "Total Deaths": "", "New Deaths": "18,057                                ", "Total Recovered": "", "New Recovered": "2,529,789", "Active Cases": "", "Serious, Critical": "8,180", "Tot Cases/ 1M pop": "", "Deaths/ 1M pop": "295,391", "Total Tests": "2,087", "Tests/ 1M pop": "13,088,879", "Population": "1,512,638"}, {"Country,Other": "45", "Total Cases": "New Zealand", "New Cases": "2,467,468", "Total Deaths": "", "New Deaths": "4,828                                ", "Total Recovered": "", "New Recovered": "2,461,144", "Active Cases": "", "Serious, Critical": "1,496", "Tot Cases/ 1M pop": "", "Deaths/ 1M pop": "503,750", "Total Tests": "986", "Tests/ 1M pop": "7,768,604", "Population": "1,586,011"}, {"Country,Other": "46", "Total Cases": "Iraq", "New Cases": "2,465,545", "Total Deaths": "", "New Deaths": "25,375                                ", "Total Recovered": "", "New Recovered": "2,439,497", "Active Cases": "", "Serious, Critical": "673", "Tot Cases/ 1M pop": "21", "Deaths/ 1M pop": "58,474", "Total Tests": "602", "Tests/ 1M pop": "19,544,451", "Population": "463,523"}, {"Country,Other": "47", "Total Cases": "Hungary", "New Cases": "2,204,488", "Total Deaths": "", "New Deaths": "48,881                                ", "Total Recovered": "", "New Recovered": "2,152,155", "Active Cases": "", "Serious, Critical": "3,452", "Tot Cases/ 1M pop": "2", "Deaths/ 1M pop": "229,485", "Total Tests": "5,088", "Tests/ 1M pop": "11,394,556", "Population": "1,186,160"}, {"Country,Other": "48", "Total Cases": "Bangladesh", "New Cases": "2,045,671", "Total Deaths": "", "New Deaths": "29,477                                ", "Total Recovered": "", "New Recovered": "1,998,448", "Active Cases": "", "Serious, Critical": "17,746", "Tot Cases/ 1M pop": "N/A", "Deaths/ 1M pop": "12,185", "Total Tests": "176", "Tests/ 1M pop": "15,254,399", "Population": "90,862"}, {"Country,Other": "49", "Total Cases": "Slovakia", "New Cases": "1,867,525", "Total Deaths": "", "New Deaths": "21,167                                ", "Total Recovered": "", "New Recovered": "1,846,156", "Active Cases": "", "Serious, Critical": "202", "Tot Cases/ 1M pop": "6", "Deaths/ 1M pop": "342,025", "Total Tests": "3,877", "Tests/ 1M pop": "7,439,346", "Population": "1,362,469"}, {"Country,Other": "50", "Total Cases": "Georgia", "New Cases": "1,855,289", "Total Deaths": "", "New Deaths": "17,132                                ", "Total Recovered": "", "New Recovered": "1,776,548", "Active Cases": "", "Serious, Critical": "61,609", "Tot Cases/ 1M pop": "", "Deaths/ 1M pop": "467,476", "Total Tests": "4,317", "Tests/ 1M pop": "16,920,079", "Population": "4,263,340"}, {"Country,Other": "51", "Total Cases": "Jordan", "New Cases": "1,746,997", "Total Deaths": "", "New Deaths": "14,122                                ", "Total Recovered": "", "New Recovered": "1,731,007", "Active Cases": "", "Serious, Critical": "1,868", "Tot Cases/ 1M pop": "59", "Deaths/ 1M pop": "169,597", "Total Tests": "1,371", "Tests/ 1M pop": "17,201,885", "Population": "1,669,945"}, {"Country,Other": "52", "Total Cases": "Ireland", "New Cases": "1,720,466", "Total Deaths": "", "New Deaths": "9,234                                ", "Total Recovered": "", "New Recovered": "1,709,059", "Active Cases": "+803", "Serious, Critical": "2,173", "Tot Cases/ 1M pop": "19", "Deaths/ 1M pop": "342,709", "Total Tests": "1,839", "Tests/ 1M pop": "13,083,449", "Population": "2,606,161"}, {"Country,Other": "53", "Total Cases": "Pakistan", "New Cases": "1,581,850", "Total Deaths": "", "New Deaths": "30,664                                ", "Total Recovered": "", "New Recovered": "1,538,689", "Active Cases": "", "Serious, Critical": "12,497", "Tot Cases/ 1M pop": "1", "Deaths/ 1M pop": "6,893", "Total Tests": "134", "Tests/ 1M pop": "30,589,153", "Population": "133,292"}, {"Country,Other": "54", "Total Cases": "Norway", "New Cases": "1,488,692", "Total Deaths": "", "New Deaths": "5,667                                ", "Total Recovered": "", "New Recovered": "1,482,178", "Active Cases": "", "Serious, Critical": "847", "Tot Cases/ 1M pop": "20", "Deaths/ 1M pop": "270,113", "Total Tests": "1,028", "Tests/ 1M pop": "11,002,430", "Population": "1,996,315"}, {"Country,Other": "55", "Total Cases": "Finland", "New Cases": "1,486,084", "Total Deaths": "", "New Deaths": "10,265                                ", "Total Recovered": "", "New Recovered": "1,474,506", "Active Cases": "+132", "Serious, Critical": "1,313", "Tot Cases/ 1M pop": "21", "Deaths/ 1M pop": "267,524", "Total Tests": "1,848", "Tests/ 1M pop": "12,108,977", "Population": "2,179,850"}, {"Country,Other": "56", "Total Cases": "Kazakhstan", "New Cases": "1,411,831", "Total Deaths": "", "New Deaths": "13,848                                ", "Total Recovered": "", "New Recovered": "1,383,020", "Active Cases": "", "Serious, Critical": "14,963", "Tot Cases/ 1M pop": "24", "Deaths/ 1M pop": "73,514", "Total Tests": "721", "Tests/ 1M pop": "11,575,012", "Population": "602,707"}, {"Country,Other": "57", "Total Cases": "Slovenia", "New Cases": "1,345,188", "Total Deaths": "+59", "New Deaths": "7,100                                ", "Total Recovered": "", "New Recovered": "1,337,079", "Active Cases": "", "Serious, Critical": "1,009", "Tot Cases/ 1M pop": "8", "Deaths/ 1M pop": "647,337", "Total Tests": "3,417", "Tests/ 1M pop": "2,847,701", "Population": "1,370,382"}, {"Country,Other": "58", "Total Cases": "Lithuania", "New Cases": "1,329,540", "Total Deaths": "+278", "New Deaths": "9,709                                ", "Total Recovered": "", "New Recovered": "1,314,593", "Active Cases": "+156", "Serious, Critical": "5,238", "Tot Cases/ 1M pop": "", "Deaths/ 1M pop": "499,506", "Total Tests": "3,648", "Tests/ 1M pop": "10,496,080", "Population": "3,943,363"}, {"Country,Other": "59", "Total Cases": "Bulgaria", "New Cases": "1,314,062", "Total Deaths": "", "New Deaths": "38,465                                ", "Total Recovered": "", "New Recovered": "1,272,643", "Active Cases": "", "Serious, Critical": "2,954", "Tot Cases/ 1M pop

In [9]:
# Save the JSON file to .json.
with open('cases_json.json', 'w') as f:
    json.dump(output, f)

In [10]:
# Read the JSON using Pandas, output to .csv.
pd.read_json(output_json).to_csv('cases_csv.csv', index=False)

In [11]:
# Import and read the CSV file.
data_csv = pd.read_csv('cases_csv.csv')

# View the data.
print(data_csv.head())

# Import and read the JSON file.
data_json = pd.read_json('cases_json.json')

# View the DataFrame. 
data_json.head()

   Country,Other Total Cases    New Cases Total Deaths  \
0            NaN       World  695,939,792       +2,333
1            1.0         USA  108,706,444          NaN
2            2.0       India   44,998,701          NaN
3            4.0     Germany   38,491,696          NaN
4            5.0      Brazil   37,796,956          NaN

                                  New Deaths  Total Recovered New Recovered  \
0                                  6,921,077             11.0   667,898,269
1  1,176,771                                              NaN   106,445,689
2    531,930                                              NaN    44,466,194
3    176,058                                              NaN    38,240,600
4    705,775                                              NaN    36,249,161

  Active Cases Serious, Critical Tot Cases/ 1M pop Deaths/ 1M pop Total Tests  \
0       +4,159        21,120,446            38,062         89,283       887.9
1          NaN         1,083,984             1,548        324,686       3,515
2          NaN               577               NaN         31,990         378
3          NaN            75,038               NaN        458,870       2,099
4          NaN           842,020               NaN        175,511       3,277

   Tests/ 1M pop Population
0            NaN        NaN
1  1,186,198,602  3,542,951
2    930,797,975    661,721
3    122,332,384  1,458,359
4     63,776,166    296,146

,"Country,Other",Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/ 1M pop,Deaths/ 1M pop,Total Tests,Tests/ 1M pop,Population
0,,World,"695,939,792","+2,333","6,921,077",+11,"667,898,269","+4,159","21,120,446","38,062","89,283",887.9,,
1,1,USA,"108,706,444",,"1,176,771",,"106,445,689",,"1,083,984","1,548","324,686","3,515","1,186,198,602","3,542,951"
2,2,India,"44,998,701",,"531,930",,"44,466,194",,577,N/A,"31,990",378,"930,797,975","661,721"
3,4,Germany,"38,491,696",,"176,058",,"38,240,600",,"75,038",N/A,"458,870","2,099","122,332,384","1,458,359"
4,5,Brazil,"37,796,956",,"705,775",,"36,249,161",,"842,020",N/A,"175,511","3,277","63,776,166","296,146"

In [12]:
# View the CSV and JSON DataFrames.
print(data_csv.dtypes)
print(data_csv.columns)

print(data_json.dtypes)
print(data_json.columns)

Country,Other        float64
Total Cases           object
New Cases             object
Total Deaths          object
New Deaths            object
Total Recovered      float64
New Recovered         object
Active Cases          object
Serious, Critical     object
Tot Cases/ 1M pop     object
Deaths/ 1M pop        object
Total Tests           object
Tests/ 1M pop         object
Population            object
dtype: object
Index(['Country,Other', 'Total Cases', 'New Cases', 'Total Deaths',
       'New Deaths', 'Total Recovered', 'New Recovered', 'Active Cases',
       'Serious, Critical', 'Tot Cases/ 1M pop', 'Deaths/ 1M pop',
       'Total Tests', 'Tests/ 1M pop', 'Population'],
      dtype='object')
Country,Other        object
Total Cases          object
New Cases            object
Total Deaths         object
New Deaths           object
Total Recovered      object
New Recovered        object
Active Cases         object
Serious, Critical    object
Tot Cases/ 1M pop    object
Deaths/ 1M pop       object
Total Tests          object
Tests/ 1M pop        object
Population           object
dtype: object
Index(['Country,Other', 'Total Cases', 'New Cases', 'Total Deaths',
       'New Deaths', 'Total Recovered', 'New Recovered', 'Active Cases',
       'Serious, Critical', 'Tot Cases/ 1M pop', 'Deaths/ 1M pop',
       'Total Tests', 'Tests/ 1M pop', 'Population'],
      dtype='object')

In [13]:
# Create a subset.
data_report = data_csv[['Country,Other', 'Total Cases', 'Total Deaths',
                        'Total Recovered', 'Active Cases', 'Serious, Critical']]

# View the column names.
print(data_report.columns)
data_report

Index(['Country,Other', 'Total Cases', 'Total Deaths', 'Total Recovered',
       'Active Cases', 'Serious, Critical'],
      dtype='object')

,"Country,Other",Total Cases,Total Deaths,Total Recovered,Active Cases,"Serious, Critical"
0,NaN,World,"+2,333",11.0,"+4,159","21,120,446"
1,1.0,USA,NaN,NaN,NaN,"1,083,984"
2,2.0,India,NaN,NaN,NaN,577
3,4.0,Germany,NaN,NaN,NaN,"75,038"
4,5.0,Brazil,NaN,NaN,NaN,"842,020"
...,...,...,...,...,...,...
202,222.0,Saint Helena,NaN,NaN,NaN,"2,164"
203,224.0,Montserrat,NaN,NaN,NaN,19
204,227.0,Tokelau,NaN,NaN,NaN,80
205,231.0,China,NaN,NaN,NaN,"118,977"
206,NaN,Total:,"+2,333",11.0,"+4,159","21,120,446"

In [14]:
# Determine missing values.
data_report.isnull().sum()

Country,Other          2
Total Cases            0
Total Deaths         196
Total Recovered      202
Active Cases         196
Serious, Critical     20
dtype: int64

In [15]:
# Save the DataFrame as a CSV file without index.
data_report.to_csv('cases_report.csv', index=False)

In [16]:
# View the saved CSV.
cases_report = pd.read_csv('cases_report.csv')

# View the DataFrame.
cases_report.head()

,"Country,Other",Total Cases,Total Deaths,Total Recovered,Active Cases,"Serious, Critical"
0,NaN,World,"+2,333",11.0,"+4,159","21,120,446"
1,1.0,USA,NaN,NaN,NaN,"1,083,984"
2,2.0,India,NaN,NaN,NaN,577
3,4.0,Germany,NaN,NaN,NaN,"75,038"
4,5.0,Brazil,NaN,NaN,NaN,"842,020"